{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "useBuiltIns": "usage",
        "exclude": ["es6.promise"]
      }
    ],
    "@babel/preset-stage-2"
  ],
  "plugins": [
    "jsx-v-model",
    "transform-vue-jsx",
    [
      "@babel/plugin-transform-runtime",
      {
        "polyfill": false
      }
    ]
  ]
}
