@import './var.scss';

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body,
#app {
  height: 100%;
}

body {
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  font-weight: 400;
  font-size: 14px;
}

a {
  color: $--color-primary;
  text-decoration: none;
  cursor: pointer;

  &:hover,
  &:focus {
    color: mix(#fff, $--color-primary, 20%);
  }

  &:active {
    color: mix(#000, $--color-primary, 10%);
  }
}

dt,
dd {
  display: inline;
}
dt {
  &::after {
    content: '：';
  }
}
dd {
  margin: 0;
  font-weight: bold;
  & + dt::before {
    content: '\000A';
    white-space: pre;
  }
}
dl {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.clearfix {
  &::after {
    content: '';
    display: block;
    clear: both;
  }
}
