
/* 修复bug */
.el-button.is-loading {
  .el-icon-loading {
    vertical-align: bottom;
  }
}

.el-tag {
  margin-right: 8px;
  &:last-of-type {
    margin-right: 0;
  }
}

.el-select {
  width: 100%;
}

.el-form.el-form--inline {
  .el-form-item {
    margin-bottom: 0;
  }
  .el-form-item__content {
    > .el-input, .el-select {
      width: 150px;
    }
  }
}
