
/* 修复bug */
.el-button.is-loading {
  .el-icon-loading {
    vertical-align: bottom;
  }
}

.el-tag {
  margin-right: 5px;
  margin-top: 5px;
}

.el-select {
  width: 100%;
  &.inline-select {
    width: 150px;
    margin-right: 10px;
  }
}

.el-form.el-form--inline {
  .el-form-item {
    margin-bottom: 0;
  }
  .el-form-item__content {
    > .el-input, .el-select {
      width: 150px;
    }
  }
}

// 扩展category
.v-category-select {
  width: 400px;
  padding: 9px 14px;
  .el-select-dropdown__item {
    display: inline-flex;
    align-items: center;
    font-size: 12px;
    color: #333;
    border-radius: 2px;
    border: 1px solid #999;
    height: 22px;
    padding:1px 5px;
    margin: 2px;
    &::after {
      display: none;
    }
  }
}
